<html>

<head>
    <title>Test Notification</title>
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
</head>

<body>
    <div id="main">
        <div class="container">
            <h1>Sample Test Notification</h1>
            <button class="btn btn-primary" @click="pushNotification">Register Service Worker</button>
        </div>
    </div>

    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script> -->
    <script src="app.js"></script>
</body>

</html>